@import 'inc/sticky-footer.scss';
body {
    margin:0;
    padding:0;
}
.header {
    background:blue;
    .head-content {
        display:grid;
        justify-content:center;
        text-align:center;
    }
}
main {
    background:green;
}
footer {
    background:yellow;
}

.container {
    margin: 0 5%;
}

@media only screen and (min-width:1024px) {
    .container {
        margin: 0 8%;
    }
    .header {
        .head-content {
            justify-content:left;
            grid-template-columns:2fr 10fr;
            text-align:left;
        }
    }
}
